# API key for machine translations
DEEPL_AUTH_KEY="12345678-abcd-1234-abc1-12345678910a:fx"
# enable debugging mode with "1"
GEDCOM_NAVIGATOR_DEBUG="1"
# optional path for the debug log file
GEDCOM_NAVIGATOR_DEBUG_LOG="gedcom-navigator.log"
