# cspell:disable
.codex/
.claude/
.claudesync/
.venv/
.vscode/
venv/
build/
dist/
*.zip
build-and-release.log
build-mac-appstore.log
.DS_Store
icons/family_tree.ico
icons/family_tree.icns
**/__pycache__/**
gedcom_dna_finder/_scripts/
gedcom_dna_finder/docs/
gedcom_dna_finder/icons/
*.egg-info/
dev/old/
dev/gedcom-dna-finder.provisionprofile
*.ged
.pytest_cache/