# cspell:disable
customtkinter>=5.2.0
CTkToolTip>=0.1.0
cyrtranslit>=1.2.0
hebrew>=0.8.1
pillow
pyobjc-framework-Cocoa; sys_platform == 'darwin'
pyobjc-framework-CoreServices; sys_platform == 'darwin'
certifi; sys_platform == 'darwin'
pywin32-ctypes; sys_platform == 'win32'
