altgraph==0.17.5
asttokens==3.0.1
colorama==0.4.6
customtkinter>=5.2.0
decorator==5.2.1
executing==2.2.1
ipython==9.13.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
packaging==26.2
parso==0.8.6
pefile==2024.8.26
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
Pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
pywin32-ctypes==0.2.3
setuptools==82.0.1
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.6.0
